.container {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    height: 450px;
    width: 350px;
}

.header {
    text-align: center;
}

.summary_length_header {
    display: flex;
    align-items: center;
}

.help-tip{
    position: relative;
    left: 15px;
    text-align: center;
    background-color: #f3c261;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;
}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 250px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -125px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.options input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.options label {
    display: inline-block;
    background-color: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #444;
    border-radius: 10px;
}

.options label:hover {
    background-color: #bcbcbc;
}

.options input[type="radio"]:checked + label {
    background-color: #686868;
    color: #ffffff;
}

.preview_and_audio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary_area {
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
}

.download {
    text-align: center;
}
  
.download_buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.download_button {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    border-color: transparent;
    color: #ffffff;
    background-color: #e79f13;
}

.download_button:hover {
    background-color: #f3c261;
}

.confirmation {
    position: absolute;
    text-align: center;
    top: 40%;
}

.yes_button {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    border-color: transparent;
    color: #ffffff;
    background-color: #e79f13;
}

.yes_button:hover {
    background-color: #f3c261;
}

.no_button {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    border-color: transparent;
    color: #ffffff;
    background-color: #858585;
}

.no_button:hover {
    background-color: #aeaeae;
}